@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 /* App.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-top: 40px;
    height: 100vh;
    overflow : hidden;
}
  p{

    color : white !important ;
    
  }
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 44px);
    grid-template-rows: repeat(9, 44px);
    gap: 5px;
  }
  
  .square {
    width: 44px;
    height: 44px;
    background-color: rgb(27, 27, 27);
     display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .square.passed {    color: white;

    background-color: limegreen;
  }
  

  .zrsfsrefzse{
    color: white;
  }






.square.with-note {
  background-color: green;
  color: white;
}















.esirhghsfhisd{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zrfsuhsdfwo{
  width: 100%;
  max-width: 600px;
  height: 80%;
  overflow-y: auto;
}

.zrfsuhsdfwo h1{
  text-align: center;
  height: 60px;
  font-size: 25px;
  font-weight: 800;

}
.ZUSHDFOUHSUDOFH li, .eushfdwohswdf li{
  list-style: none;
  font-size: 16px;
  padding: 0 0.5rem;  display: flex;
  align-items: center;

}
.zrfsuhsdfwo h2{
  font-size: 18px;
  font-weight: 700;
  margin: 0.5rem 0;
}

.ZUSHDFOUHSUDOFH li{
  padding: 0 0.5rem;
  height: 30px;
  margin-bottom: 0.8rem;
}

.ZUSHDFOUHSUDOFH li span{
  font-size: 16px;
  width: calc(100% - 25px);
}
.ZUSHDFOUHSUDOFH li input{
  margin-right: 0.5rem;
  height: 25px;
  cursor: pointer;
  width: 25px;
  border: 1px solid gray;
  border-radius: 0 !important;
}

